@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;

  cursor: url("../assets/img/cursor.svg"), auto !important;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  background-color: #e6edf9;
}

:root {
  --width: 1200px;
  --margin-width: calc((100% - var(--width)) / 2);

  --color-text: #000;
  --color-text-rgb: 0, 0, 0;
  --color-invert: #fff;
  --color-invert-rgb: 255, 255, 255;
  --color-primary: #0066ff;
  --color-primary-rgb: 0, 102, 255;
}

@media screen and (max-width: 1200px) {
  :root {
    --width: 100%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

.scroller {
  min-height: 1100vh;
}

@media screen and (max-height: 800px) and (min-width: 800px) {
  .about-content > *,
  .projects-content > * {
    zoom: 0.9 !important;
  }
}
