footer {
  background-color: #00000010;
  padding: 50px 40px;
}

.footer-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-info {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer-info .socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-info .social {
  color: #000;
  border: 1px solid #00000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;

  border-radius: 40px;
  padding: 2px 10px;
  margin: -2px -10px;

  transition: all 0.3s, color 0.1s, background-color 0.1s;
  transition-timing-function: cubic-bezier(0.44, -0.2, 0, 1.57);
}

.footer-info .social:hover {
  padding: 8px 20px;
  margin: -8px -20px;
  background-color: #0066ff22;
  color: #0066ff;
  border: 1px solid #0066ff;
}

.footer-info .social:active {
  padding: 2px 10px;
  margin: -2px -10px;
}

.footer-info .social img,
.footer-info .social-icon {
  width: 20px;
}

.footer-copyright-text {
  font-size: 14px;
  color: #00000090;
}

@media screen and (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
  }
}
