.projects {
  height: 350vh;
  width: 100%;
  position: relative;
  margin-top: 80px;
}

@media screen and (max-width: 670px) {
  .projects {
    margin-top: 20px;
  }
}

.projects-container {
  height: calc(100vh - calc((var(--nav-height) / 2) - 20px));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: calc((var(--nav-height) / 2) - 20px);
  margin-top: -30px;
}

.projects-content {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #00000044;
  background-color: #000000;
  background: linear-gradient(180deg, #330076 0%, #28192b 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.projects-title {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 80px;
  padding: 0 40px;
}

.projects-title-title {
  font-size: 2rem;
  letter-spacing: -0.01rem;
  font-weight: 700;
  margin: 0;
}

.projects-title-text {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
  opacity: 0.8;
}

.projects .invite {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.projects .invite-icon {
  height: 22px;

  opacity: 0.5 !important;
}

.projects .invite-text {
  font-size: 0.9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  opacity: 0.5 !important;
}

.projects-timeline {
  display: flex;

  align-self: center;
}

.project-example {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 600px;
  gap: 8px;
  text-align: center;

  color: inherit;
  text-decoration: none;
}

.project-example-date {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 4px 12px;
  border: 1px solid #fff;
  border-radius: 300px;
  max-width: 400px;
}

.project-example-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  width: 400px;
  max-width: calc(100vw - 80px);
}

.project-example-text {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0;
  opacity: 0.8;
  width: 400px;
  max-width: calc(100vw - 80px);
}

.project-example-image {
  width: calc(100vw - 80px);
  max-width: 400px;
  margin-top: 16px;
}
