.section {
  padding: 20px;
  padding-top: calc(var(--nav-height) + 20px);
}

.section-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-bottom: 32px;
  gap: 16px;
  opacity: 0;
}

.section-title-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  width: 100%;
}

.section-title-text {
  font-size: 1rem;
  color: #000000a5;
  line-height: 1.5;
  width: 100%;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-top: 32px;
  gap: 16px;
}

.section-subtitle-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  width: 100%;
}

.section-subtitle-text {
  font-size: 1rem;
  color: #000000a5;
  line-height: 1.5rem;
  width: 100%;
}

.section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .section-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #00000038;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
  box-shadow: 0 1px 10px #00000022;
}

.section-card:hover {
  border-color: #00000052;
  box-shadow: 0 1px 10px #00000044;
}

.section-card-date {
  background: #fff;
  border-radius: 24px;
  border: 1px solid #00000044;
  height: 28px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -14px;
  left: 18px;
}

.section-card-date-text {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000a5;
  letter-spacing: 0.02rem;
}

.section-card-title {
  padding: 16px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.section-card-title-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section-card-title-text-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.section-card-title-text-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000a5;
}

.section-card-title-image {
  width: 52px;
  height: 52px;
  border: none;
}

.section-card-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 0;
}

.section-card-content-text {
  font-size: 0.95rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000000;
}

.section-chips {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.section-margin {
  height: 48px;
  width: 5px;
}

.section-chip {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--color-text);
  border-radius: 300px;
  transition: all 0.3s, color 0.1s, background-color 0.2s, border-color 0.1s;
  transition-timing-function: cubic-bezier(0.44, -0.2, 0, 1.57);
}

.section-chip:hover {
  background-color: #0066ff22;
  color: #0066ff;
  border-color: #0066ff;
  padding: 2px 24px;
  margin: -2px -6px;
}

.section-chip:active {
  padding: 0 18px;
  margin: 0;
}

.section-chip-icon,
.section-chip-img {
  height: 22px;
}

.section-chip-text {
  font-size: 0.95rem;
  font-weight: 500;
  user-select: none;
}

.section.skills {
  margin-bottom: 96px;
}
