:root {
  --nav-height: 100px;
}

.nav-container {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  transition: height 0.25s;
  z-index: 99999999999;
}

.nav {
  height: calc(100px - 60px);
  display: flex;
  position: fixed;
  width: var(--width);
  z-index: 99999999999;

  border: 1px solid transparent;

  transition: all 0.25s, border 0.1s, background-color 0.1s, box-shadow 0.1s;
  transition-timing-function: cubic-bezier(0.44, -0.2, 0, 1.57);
}

.scroll .nav {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  border-radius: 100px;

  padding: 0 0px;
  width: calc(var(--width) - 20px - 20px);
  height: calc(100px - 40px);
}

.nav-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
  padding-left: 20px;
  gap: 12px;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  border-radius: 300px;
  padding: 5px 5px;
  margin: -5px -5px;

  transition: all 0.3s, color 0.1s, background-color 0.1s;
  transition-timing-function: cubic-bezier(0.44, -0.2, 0, 1.57);
  color: #000;
}

.user:hover {
  background-color: #0066ff22;
  padding: 8px 12px;
  margin: -8px -12px;
  color: var(--color-primary) !important;
}

.user:active {
  padding: 5px 5px;
  margin: -5px -5px;
}

.nav-left .avatar {
  width: 32px;
  aspect-ratio: 1/1;

  border-radius: 50%;
}

.nav-left .title {
  font-size: 1.1rem;
  letter-spacing: -0.01rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-center {
  flex: 3;
}

.nav ul {
  list-style: none;
  display: flex;

  gap: 0px;
}

.nav ul li a {
  text-decoration: none;
  color: black;

  font-size: 1rem;
  font-weight: 500;

  padding: 3px 10px;
  margin: 0 8px;
  border-radius: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: all 0.3s, color 0.1s, background-color 0.1s;
  transition-timing-function: cubic-bezier(0.44, -0.2, 0, 1.57);

  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nav ul li a:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
  color: var(--color-primary);
  padding: 9px 21px;
  margin: 0 16px;
  border-radius: 10px;

  font-weight: 700;
}

.nav ul li a:active {
  background-color: rgba(var(--color-primary-rgb), 0.3);
}

.nav-right {
  justify-content: flex-end;
  padding-right: 30px;
  gap: 24px;
}

.nav-right .icon {
  width: 20px;
  height: 20px;

  opacity: 1;
}

.nav-right .icon:hover {
  opacity: 0.5;
}

.nav-right .icon img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .nav ul li a {
    padding: 3px 8px;
    margin: 0 4px;
    font-size: 0.95rem;
  }

  .nav {
    width: calc(var(--width) - 12px);
  }
}

@media screen and (max-width: 800px) {
  .nav-center {
    display: none;
  }

  :root {
    --nav-height: 80px;
  }
}
