<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Composant - Navigation</title>

    <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
    <script src="../../js/libs/gradient.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/global.css" />
    <link rel="stylesheet" type="text/css" href="./footer.css" />
  </head>
  <body>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-info">
          <p class="footer-description">
            Lorem ipsum dolor sit amet consectetur. Gravida nunc suspendisse
            lectus sollicitudin elit consectetur odio id porttitor posuere
            ornare accumsan sit.
          </p>

          <div class="socials">
            <a href="https://github.com/ecnivtwelve" class="social">
              <img src="../../assets/icon/github.svg" alt="GitHub" />
              <p>ecnivtwelve</p>
            </a>
            <a href="https://linkedin.com/in/vincelinise" class="social">
              <img src="../../assets/icon/linkedin.svg" alt="LinkedIn" />
              <p>in/vincelinise</p>
            </a>
            <a href="mailto:contact@vincelinise.com" class="social">
              <i
                stroke-width="2.5px"
                data-lucide="mail"
                class="social-icon"
              ></i>
              <p>contact@vincelinise.com</p>
            </a>
          </div>
        </div>
        <div class="footer-copyright">
          <p class="footer-copyright-text">
            © 2021 Vince Linise. Tous droits réservés.
          </p>
        </div>
      </div>
    </footer>

    <div class="scroller"></div>

    <script defer src="../../js/app.js"></script>
  </body>
</html>
