<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Composant - Navigation</title>

    <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
    <script src="../../js/libs/gradient.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/global.css" />
    <link rel="stylesheet" type="text/css" href="./projects.css" />
  </head>
  <body>
    <!-- MAIN -->
    <main>
      <div style="height: 50vh"></div>

      <!-- PROJECTS -->
      <div class="projects" id="projects">
        <div class="projects-container">
          <div class="projects-content">
            <div class="projects-title">
              <h2 class="projects-title-title">Lorem Ipsum</h2>
              <p class="projects-title-text">
                Découvrez mes projets personnels et open-source<br />
                Ceci est une nouvelle ligne
              </p>

              <div class="invite">
                <i data-lucide="chevrons-down" class="invite-icon"></i>
                <p class="invite-text">Défilez pour voir les projets</p>
              </div>
            </div>

            <div class="projects-timeline">
              <div class="project-example">
                <p class="project-example-date">2021</p>
                <p class="project-example-title">Lorem Ipsum</p>
                <p class="project-example-text">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </p>

                <img
                  src="../../assets/img/project-phone.webp"
                  alt=""
                  class="project-example-image"
                />
              </div>
              <div class="project-example">
                <p class="project-example-date">2021</p>
                <p class="project-example-title">Lorem Ipsum</p>
                <p class="project-example-text">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </p>

                <img
                  src="../../assets/img/project-phone.webp"
                  alt=""
                  class="project-example-image"
                />
              </div>
              <div class="project-example">
                <p class="project-example-date">2021</p>
                <p class="project-example-title">Lorem Ipsum</p>
                <p class="project-example-text">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </p>

                <img
                  src="../../assets/img/project-phone.webp"
                  alt=""
                  class="project-example-image"
                />
              </div>
              <div class="project-example">
                <p class="project-example-date">2021</p>
                <p class="project-example-title">Lorem Ipsum</p>
                <p class="project-example-text">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </p>

                <img
                  src="../../assets/img/project-phone.webp"
                  alt=""
                  class="project-example-image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 50vh"></div>
    </main>

    <script defer src="../../js/app.js"></script>
    <script defer src="./projects.js"></script>
  </body>
</html>
